body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(245, 245, 245);
}

p, ul, ol {
  font-size: 14;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: left !important;
}

td, th {
  width: 50%;
  border: 1px solid rgba(41, 41, 41, 0.15);
  padding: 1rem;
}

th {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(128, 8, 161, 0.7);
  color: white;
}

#agile-table {
  font-size: 14;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: center !important;
  border: 2px solid rgba(41, 41, 41, 0.15);
  box-shadow: 0px 0px 3px 3px rgba(193, 193, 193, 0.1);
  border-spacing: 0px;
}

.ksb-sidebar {
  width: 20%;
  height: 100%;
  float: left;
  /*background-color: blue;*/
  background-color: rgb(245, 193, 62);
  position: fixed;
  box-shadow: 0px 0px 16px 7px rgba(193, 193, 193, 0.15);
  border-radius: 8px;
}

.ksb-sidebar-spacing {
  width: 20%;
  float: left;
  color: rgb(245, 245, 245);
}

.page-content {
  /* background-color: rgb(252, 57, 57); */
  background-color: rgb(245, 245, 245);
  text-align: left;
  width: 80%;
  float: left;
  padding-bottom: 1rem;
  height: 100%;
}

.page-section {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 0px 16px 7px rgba(193, 193, 193, 0.15);
  padding-top: 3rem;
  padding-bottom: 2rem;
  margin-bottom: 0.75rem;
}

.section-title {
  width: 80%;
  margin: 0 auto;
}

.subtitle {
  width: 80%;
  margin: 0 auto;
  color: rgb(128, 8, 161);
}

.page-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center !important;
}

.screenshot {
  width: 70%;
  margin: 0 auto;
  display: block;
}

.image-caption {
  text-align: center !important;
  color: gray;
  font-weight: lighter;
}

.sdlc-description, .sdlc-in-out {
  width: 95% !important;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.normal-text {
  font-weight: normal;
  background-color: white;
  transition: 0.5s;
}

.highlighted-text {
  transition: 0.5s;
  background-image: url(../images/orange.png);
  font-size: 15;
  opacity: 0;
}
